Options -Indexes
php_flag engine off
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps
RemoveType .php .phtml .php3 .php4 .php5 .php7 .phps

<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps)$">
  Deny from all
</FilesMatch>
